/* Header.module.css */





.header {
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.headerContent {
    display: flex;
    align-items: center;
    width: 100%;
}

.roleTitle,
.divIcon {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.divIcon a {
    text-decoration: none;
    /* 下線を消す */
    color: inherit;
    /* 色を親要素の色に従わせる */
}



.loginSection {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    margin-bottom: 10px;
}

.loginSection span {
    font-size: 18px;
    font-weight: bold;
}

.logoutButton,
.loginButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.logoutButton:hover,
.loginButton:hover {
    background-color: #218838;
}

.roleTitle h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #343a40;
    color: white;
    border-radius: 5px;
}

.mailIcon {
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    color: #007BFF;
    transition: color 0.3s ease;
}

.mailIcon:hover {
    color: #0056b3;
}

.headerHr {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ddd;
}